<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${artwork.artworkName}"></p>
<img th:each="imageUrl: ${artwork.imagesUrl}" th:src="${imageUrl}">
<form action="#" th:action="@{/shopping_cart/add_artwork}" method="post">
    <input type="hidden" th:value="${artwork.generatedArtworkName}" name="artworkName"/>
    <button type="submit">Add to Cart</button>
</form>
<div sec:authorize="isAuthenticated()">
    Authenticated as <span sec:authentication="name"></span></div>
</body>
</html>