<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head>
    <link rel="icon" type="image/svg+xml" th:href="@{/pictures/SAOFLogo.svg}" href="SAOFLogo.svg" sizes="any">
    <meta charset="UTF-8">
    <title>Home - ART</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="../static/css/mainpage.css" th:href="@{/css/mainpage.css}" rel="stylesheet">

    <!-- uncomment for production, comment the next other, copy css from artworks to static
    <link href="mainpage.css" rel="stylesheet">-->
</head>
<body>
<!-- NAVBAR -->
+<div th:insert="~{nav :: copy}"></div>
<!-- NAVBAR -->
<h2><span th:text="${artwork.artworkName}">Name</span></h2>
<div class="img">
    <img th:each="imageUrl: ${artwork.imagesUrl}" th:src="${imageUrl}">
</div>
<form th:if="${isInShoppingCart}" action="#" th:action="@{/shopping_cart/remove_artwork}" method="post">
    <input type="hidden" th:value="${artwork.generatedArtworkName}" name="artworkName"/>
    <button class="button" type="submit">Remove from Cart</button>
</form>
<form th:unless="${isInShoppingCart}" action="#" th:action="@{/shopping_cart/add_artwork}" method="post">
    <input type="hidden" th:value="${artwork.generatedArtworkName}" name="artworkName"/>
    <button class="button" type="submit">Add to Cart</button>
</form>
<button th:if="${editArtworkDTO!=null}" type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#editArtworkModal">
    Edit Artwork
</button>

<!-- Edit Artwork Modal -->
<div th:if="${editArtworkDTO!=null}" class="modal fade" id="editArtworkModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="#" th:action="@{/edit_artwork}" th:object="${editArtworkDTO}"
                  enctype="multipart/form-data"
                  method="post">
                <div class="modal-header">
                    <input id="addArtworkModalLabel" type="text" th:field="*{artworkName}" class="fadeIn second"
                           name="artworkName" placeholder="Artwork name" required/>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" th:field="*{artworkPrice}" class="fadeIn second" name="artworkPrice"
                           placeholder="Price" required/>
                    <input type="text" th:field="*{artworkDescription}" class="fadeIn second" name="artworkDescription"
                           placeholder="Description"/>
                    <input type="file" id="firstImageInput" th:field="*{firstImage.multipartFile}"
                           onchange="reload_image('firstImage', this)" class="fadeIn second"
                           enctype="multipart/form-data" accept=".jpg, .png, .jpeg">
                    <input type="text" th:field="*{firstImage.position}" th:value="1" hidden>
                    <img th:src="*{'data:image/'+ firstImage.getImageContentType() +';base64, ' + firstImage.getImageBase64()}"
                         id="firstImage">
                    <input type="file" id="secondImageInput" th:field="*{secondImage.multipartFile}"
                           onchange="reload_image('secondImage', this)" class="fadeIn second"
                           enctype="multipart/form-data" accept=".jpg, .png, .jpeg">
                    <input type="text" th:field="*{secondImage.position}" th:value="2" hidden>
                    <img th:src="*{'data:image/'+ secondImage.getImageContentType()+';base64, ' + secondImage.getImageBase64()}"
                         id="secondImage">
                    <input type="file" id="thirdImageInput" th:field="*{thirdImage.multipartFile}"
                           onchange="reload_image('thirdImage', this)" class="fadeIn second"
                           enctype="multipart/form-data" accept=".jpg, .png, .jpeg">
                    <input type="text" th:field="*{thirdImage.position}" th:value="3" hidden>
                    <img th:src="*{'data:image/'+ thirdImage.getImageContentType()+';base64, ' + thirdImage.getImageBase64()}"
                         id="thirdImage">
                    <input type="file" id="forthImageInput" th:field="*{forthImage.multipartFile}"
                           onchange="reload_image('forthImage', this)" class="fadeIn second"
                           enctype="multipart/form-data" accept=".jpg, .png, .jpeg">
                    <input type="text" th:field="*{forthImage.position}" th:value="4" hidden>
                    <img th:src="*{'data:image/'+ forthImage.getImageContentType()+';base64, ' + forthImage.getImageBase64()}"
                         id="forthImage">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </div>
                <input type="hidden" th:value="${artwork.generatedArtworkName}" name="oldGeneratedArtworkName"/>
            </form>

            <form action="#" th:action="@{/remove_artwork}" method="post">
                <input type="hidden" th:value="${artwork.generatedArtworkName}" name="artworkName"/>
                <button class="button" type="submit">Remove Artwork</button>
            </form>
        </div>
    </div>
</div>
+<!-- footer-->
+<div th:insert="~{footer :: copy}"></div>
+<!-- footer-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
<script th:src="@{/javascript/document_ready.js}"></script>
<script th:src="@{/javascript/reload_image.js}"></script>

</body>
</html>