<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml"  th:href="@{/pictures/SAOFLogo.svg}" href="SAOFLogo.svg" sizes="any">
    <title>ShoppingCart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="../static/css/mainpage.css" th:href="@{/css/mainpage.css}" rel="stylesheet">

    <!-- uncomment for production, comment the next other, copy css from artworks to static
    <link href="mainpage.css" rel="stylesheet">-->
</head>
<body>
<!-- NAVBAR -->
<div th:insert="~{nav :: copy}"></div>
<!-- NAVBAR -->
<div>
<h2>Shopping Cart</h2>
</div>
<div class="container" th:each="artwork: ${artworks}" th:attr="onclick=|openArtwork('${artwork.generatedArtworkName}')|">
    <div class="row">
        <div class="col-md-3">
            <img th:src="${artwork.primaryImageUrl}" alt="hier wäre das bild">
        </div>
        <div class="col-md-4">
            <span th:text="${artwork.artworkName}">Test Name</span>
        </div>
        <div class="col-md-2">
            <form action="#" th:action="@{/shopping_cart/remove_artwork}" method="post">
                <input type="hidden" th:value="${artwork.generatedArtworkName}" name="artworkName"/>
                <button class="del_button" type="submit">DEL</button>
            </form>
        </div>
        <div class="col-md-2">
            <span th:text="${artwork.price}">200€</span>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-2">
            <p>
                Zwischensumme
            </p>
            <p>
                MwSt (19%)
            </p>
            <p>
                Versand
            </p>
            <p>
                SUMME
            </p>
        </div>
        <div class="col-md-2">
            <!-- Javacode zu ergänzen -->
        </div>
    </div>
</div>

<form th:if="${not #lists.isEmpty(artworks)}" action="#" th:action="@{checkout}" method="post">
    <button type="submit">Checkout</button>
</form>







<script th:src="@{/javascript/open_artwork_func.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

<!-- footer-->
<div th:insert="~{footer :: copy}"></div>
<!-- footer-->
</body>