<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml"  th:href="@{/pictures/SAOFLogo.svg}" href="SAOFLogo.svg" sizes="any">
    <title th:text="#{shopping_cart.title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="../static/css/mainpage.css" th:href="@{/css/mainpage.css}" rel="stylesheet">

    <!-- uncomment for production, comment the next other, copy css from artworks to static
    <link href="mainpage.css" rel="stylesheet">-->
</head>
<body>

<div th:insert="~{nav :: copy}"></div>

<div class="SiteTitle">
<h2 th:text="#{shopping_cart.header.first}"></h2>
</div>
<div class="container" th:each="artwork: ${shoppingCart.artworks}" th:attr="onclick=|openArtwork('${artwork.generatedArtworkName}')|">
    <div class="row">
        <div id="ewcolstyle1" class="col-md-4">
            <img th:src="${artwork.primaryImageUrl}">
        </div>
        <div id="ewcolstyle2" class="col-md-4">
            <span th:text="${artwork.artworkName}"></span>
        </div>
        <div id="ewcolstyle3" class="col-md-2">
            <form action="#" th:action="@{/shopping_cart/remove_artwork}" method="post">
                <input type="hidden" th:value="${artwork.generatedArtworkName}" name="artworkName"/>
                <button class="ewdelbutton" type="submit" th:text="#{shopping_cart.button.delete}"></button>
            </form>
        </div>
        <div id="ewcolstyle4" class="col-md-2">
            <span th:text="${artwork.price}"></span><span th:text="#{currency}"></span>
        </div>
    </div>
</div>

<div class="container" style="padding-top: 1rem;">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-2" style="background-color: #cccccc; border-right-style: solid; border-right-color: #757575; -moz-border-radius-bottomleft: 15px; -moz-border-radius-topleft: 15px;">
            <p>
                <span th:text="#{shopping_cart.sum.before_taxes}"></span>
            </p>
            <p>
                <span th:text="#{shopping_cart.taxes}"></span>
            </p>
            <p>
                <span th:text="#{shopping_cart.sum.after_taxes}"></span>
            </p>
        </div>
        <div class="col-md-2" style="background-color: #cccccc; -moz-border-radius-bottomright: 15px; -moz-border-radius-topright: 15px;">
            <p>
                <span th:text="${shoppingCart.sumBeforeTaxes}"></span>
            </p>
            <p>
                <br>
            </p>
            <p>
                <span th:text="${shoppingCart.sumAfterTaxes}">Test Name</span>
            </p>
        </div>
    </div>
</div>

<div class="container" style="padding-top: 1rem;">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2" style="align-content: center">
            <form th:if="${not #lists.isEmpty(shoppingCart.artworks)}" action="#" th:action="@{checkout}" method="post" s>
                <button class="ewbutton" type="submit" th:text="#{shopping_cart.checkout}"></button>
            </form>
        </div>
    </div>
</div>

<div th:insert="~{footer :: copy}"></div>

<script th:src="@{/javascript/open_artwork_func.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
<script th:src="@{/javascript/change_lang.js}"></script>
</body>