<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Impressum</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        .impressum-style {padding: 40px 15px;text-align: center;}
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="impressum-style">
                <h1>Impressum</h1>
                <hr>
                <h3>Betreiber der Website</h3>
                <p>Moritz Meister</p>
                <h3>Adresse</h3>
                <p>Impressumsstraße 7, 22222 Impressumsstadt</p>
                <h3>Vertretung des Unternehmens</h3>
                <p>--</p>
                <h3>Kontakt</h3>
                <p>Telefon: +49 30 123456</p>
                <p>Fax: +49 30 123456</p>
                <p>E-Mail: kontakt@max-meister.de</p>
                <p>Internet: www.max-meister.de</p>
                <h3>Aufsichtsbehörde</h3>
                <p>-</p>
                <h3>Registereintrag</h3>
                <p>-</p>
                <h3>Standeskammer</h3>
                <p>-</p>
                <h3>Umsatzsteuer-ID</h3>
                <p>Umsatzsteueridentifikationsnummer gemäß § 27a Umsatzsteuergesetz: DE 63527364839</p>
                <h3>Liquidation/Auflösung</h3>
                <p>-</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>