<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{error_pages.title}"></title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        .error-template {padding: 40px 15px;text-align: center;}
        .error-actions {margin-top:15px;margin-bottom:15px;}
        .error-actions .btn { margin-right:10px; }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1 th:text="#{error_pages.header.first}"></h1>
                <h3><span th:text="#{error_pages.status_code}"></span> <span th:text="${error.statusCode}"></span></h3>
                <h4 th:text="#{default_error.header.description}"></h4>
                <div class="error-details">
                    <p th:text="${error.message}"></p>
                </div>
                <div class="error-actions">
                    <a href="../artworks/artworks.html" th:href="@{/artworks}" class="btn btn-primary btn-lg" th:text="#{error_pages.home}">
                        <span class="glyphicon glyphicon-home"></span></a>
                    <a href="#" class="btn btn-default btn-lg" th:text="#{error_pages.support}">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>