a{
    color: grey;
}

a:hover{
    color: #DB3C3C;
}

#aboutuspic{
    max-width:100%;
    max-height:100%;
}

.social-part .fa{
    padding-right:20px;
}
ul li a{
    margin-right: 20px;
}

.social{
    width: 2rem;
}

.img {
    transition: transform .2s;
}

body {
    position: relative;
    min-height: 100%;
    min-height: 100vh;
    padding-bottom: 3.5rem;
}

/*.img:hover {
    transform: scale(1.05);
}*/

.button {
    background-color: #DB3C3C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.ewbutton {
    background-color: #DB3C3C;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.logoutbutton {
    border: none;
    color: white;
    background-color: #CCCCCC;
    border-radius: 3px;
}

.ewdelbutton {
    border: none;
    color: white;
    background-color: #CCCCCC;
    border-radius: 3px;
}

.ewdelbutton:hover {
    border: none;
    color: #DB3C3C;
}

.logoutbutton:hover {
    border: none;
    color: #DB3C3C;
}

/*footer*/

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background: black;
    height: 3em;
    width:100%;
}

#footercontent{
    padding-top: 10px;
    text-align: center;
    color: grey;
    vertical-align: middle;
}

#footerlogotext{
    padding-top: 10px;
    color: grey;
    vertical-align: middle;
}

/*navbar*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.SiteTitle {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Einkaufswagen EW */

#ewcolstyle1 {
    border-right-style: solid;
    border-color: #cccccc;
    border-width: thin;
}

#ewcolstyle2 {
    border-right-style: solid;
    border-color: #cccccc;
    border-width: thin;
}

#ewcolstyle3 {
    border-right-style: solid;
    border-right-color: #cccccc;
    border-width: thin;
}